%h2 Resend confirmation instructions
= semantic_form_for resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post } do |f|
  = f.inputs do
    = f.input :email, hint: "mal@firefly.com", input_html: { placeholder: "mal@firefly.com" }
  = f.buttons do
    = f.commit_button label: "Resend confirmation instructions"
= render :partial => "devise/shared/links"
