.form-wrap
  %h2 Sign up for an account
  = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
    = f.input :username
    = f.input :email
    = f.input :password, required: true
    = f.hint "Has to be at least 6 characters, symbols are cool."
    = f.input :password_confirmation, required: true
    = f.hint "Must match the above password."
    = f.submit "Sign me up!"
  = render :partial => "devise/shared/links"
