- comics.each do |comic|
  %div.comic
    %div.title= link_to comic.name, comic.homepage
    = raw comic.latest_comic
    %ul.comic_nav
      - if current_user.subscribed?(comic)
        %li= link_to "Unsubscribe", comic_subscriptions_path(comic), method: :delete, class: "button unsubscribe"
      - else
        %li= link_to "Subscribe", comic_subscriptions_path(comic), method: :post, class: "button subscribe"
      - if current_user.admin?
        %li= link_to "Edit Comic", edit_comic_path(comic), class: "button admin_edit_comic"
