= simple_form_for comic do |f|
  = f.input :name
  = f.input :homepage
  = f.input :comic_page, label: "Comic Page"
  = f.input :xpath_title, label: "Title XPath"
  = f.input :xpath_image, label: "Image XPath"
  = f.submit "Save"
