= link_to "Add Comic", new_comic_path unless !current_user.admin?

- if comics.any?
  - comics.each do |comic|
    %div= comic.name
    %div= comic.homepage
    %div= comic.feed_url
    %div
      - if current_user.subscribed?(comic)
        = link_to "Unsubscribe", comic_subscriptions_path(comic), :method => :delete
      - else
        = link_to "Subscribe", comic_subscriptions_path(comic), :method => :post
      = link_to "Edit Comic", edit_comic_path(comic) unless !current_user.admin?
- else
  - if params[:username]
    - if params[:username] == current_user.username
      %h3
        You are not subscribed to any comics, head over to the #{link_to "comics", comics_path} page to subscribe
    - else
      %h3 This user is not subscribing to any comics
  - else
    %h3 There are no comics currently in the system
