#wrap-banner
  #banner-inner
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            = link_to root_path do
              The Funnies
      %section.top-bar-section
        %ul.left
          - if user_signed_in?
            %li= link_to "My Comics", user_comics_path(current_user.username)
            %li= link_to "Comics List", comics_path
          %li= link_to "About", about_path
          %li= link_to "Blog", posts_path
          - if user_signed_in? && current_user.admin?
            %li= admin_nav_link

        %ul.right
          - if user_signed_in?
            %li.has-dropdown
              = link_to "#" do
                = gravatar_for(current_user, size: 20)
                = current_user.username
              %ul.dropdown
                %li= link_to "Sign out", destroy_user_session_path, method: :delete
          - else
            %li= link_to "Sign in", new_user_session_path
