#header.group
  #header-inner.group
    #logo
      = link_to root_path do
        = image_tag("logo-lowres.gif", :alt => "Funnies")
    %ul#nav
      - if user_signed_in?
        %li= link_to "My Comics", user_comics_path(current_user.username)
        %li= link_to "Comics List", comics_path
      %li= link_to "About", about_path
    #account
      - if user_signed_in?
        Signed in as #{current_user.username}. Not you? #{link_to "Sign out", destroy_user_session_path}
      - else
        #{link_to "Sign in", new_user_session_path}
