%h2 Sign In
= semantic_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
  = f.inputs do
    = f.input :login, label: "Username or Email", required: false
    = f.input :password, label: "Password #{link_to 'Forgot it?', new_user_password_url}".html_safe, required: false
  = f.buttons do
    = f.commit_button :label => "Sign In"
= render :partial => "devise/shared/links"
