!!!
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{charset: "utf-8"}
  %title Welcome to Funnies!
  = stylesheet_link_tag "application"
  = csrf_meta_tag
%body
  = flash_messages
  = render "shared/header"
  %section#wrap
    %section#content{class: controller_class}
      = yield
  = render "shared/footer"
  = javascript_include_tag "application"
  = render "shared/analytics" if Rails.env.production? || Rails.env.staging?
  = render "shared/intercom" if Rails.env.production? || Rails.env.staging?
