!!!
%html
  %head
    %title Welcome to Funnies!
    = stylesheet_link_tag "funnies"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    - if flash[:notice] || flash[:alert]
      %div{:class => "notice #{'alert' if flash[:alert]}"}
        = flash[:notice] || flash[:alert]
    #header.group
      #header-inner.group
        #logo
          = link_to root_path do
            = image_tag("logo-lowres.gif", :alt => "Funnies")
        #account
          - if user_signed_in?
            Signed in as #{current_user.username}. Not you? #{link_to "Sign out", destroy_user_session_path}
          - else
            #{link_to "Sign up", new_user_registration_path} or #{link_to "Sign in", new_user_session_path}
    #wrap
      #wrap-inner
        #content
          = yield
