!!!
%html
  %head
    %title Welcome to Funnies!
    = stylesheet_link_tag "funnies"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    - if flash[:notice] || flash[:alert]
      %div{:class => "notice #{'alert' if flash[:alert]}"}
        = flash[:notice] || flash[:alert]
    = render "shared/header"
    #wrap
      #wrap-inner
        #content
          = yield
    = render "shared/footer"
