!!!
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
%head
  %meta{charset: "utf-8"}
  %title Welcome to Funnies!
  = stylesheet_link_tag "funnies"
  = csrf_meta_tag
  = javascript_include_tag "modernizr-1.7.min"
%body
  - if flash[:notice] || flash[:alert]
    %div{:class => "notice #{'alert' if flash[:alert]}"}
      = flash[:notice] || flash[:alert]
  #session
    #session-inner
      = yield
  = javascript_include_tag :defaults
  = render "shared/analytics"
